<?xml version="1.0" encoding="utf-8" ?>
<configuration>

</configuration>
<appsettings>

    <!--Application Specific Details-->
    <add key ="ApplicationtName" value="UltimateQA"/>
    <add key ="URL" value ="https://ultimateqa.com/fake-landing-page" />

    <!--Time Settings-->
    <add key ="PageLoadTimeOut" value="120"/>
    <add key ="DefaultExplicitWait" value="90"/>

    <!--Execution Env-->
    <add key="Browser" value ="Chrome"/>

    <!--<Send Email by API Exchange>-->
    <add key="User" value=""/>
    <add key="Pwd" value=""/>
</appsettings>